**/node_modules
**/vendor
**/.env
**/storage/logs/*.log
**/storage/framework/cache/data/*
!**/storage/framework/cache/data/.gitkeep
**/storage/framework/sessions/*
!**/storage/framework/sessions/.gitkeep
**/storage/framework/views/*
!**/storage/framework/views/.gitkeep
.DS_Store
